body { background: 	#ADFF2F; }
.main { margin: 
	0 auto; 
	width:100%; 
	max-width: 
	900px; 
	text-align: center;
}

header {
	background-color: #888888;
	text-align: center;
    height:auto;
    border-radius: 5px;
    padding: 5px;
}

img {
    max-width:100%;
    height:auto;

}

.weather-container {
	background: 	#FFE4B5;
	text-align: center;
	border-radius: 5px;
	padding: 25px;
}

.weather {
	font-size: 22px;
	margin: 0;
}

.temp {
	font-size: 60px;
	margin: 0;
	font-weight: bold;
}

.myLabel {
	margin: 0;
	padding: 0;
	display: black;
	font-size: 100%;
	padding-top: 2px;
	padding-right: 5px;
	width: 100px;
	text-align: right;
	float: left;
	color: blue;
}

form {
	padding: 10px;
	border: 10px solid yellow;
	width: 35vw;
	box-shadow: 10px 10px 8px 10px #888888;
	border-radius: 40px;
}

.myinput {
	border-style: dotted;
	margin: 0;
	padding: 0;
	display: black;
	font-size: 100%;
	width: 100px;
	padding-left: 5px;
}

input[type='submit'] {

	width: 70px;
	margin-left: 10px;
	color: white;
	background: green;
	border-radius: 25px;
	float: center;
}

input[type='dotted'] {

	border-style: dotted;
	display: black;
	font-size: 80%;
	width: 200px;
	padding-left: 5px;
	color: red;
}

.inputRow {
	padding: 10px;
}